@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Noto+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #25235a;
  padding-left: 10px;
  font-size: 16px;
}

input:focus {
  outline: none;
  caret-color: #ff6565;
}

a {
  text-decoration: none;
}

/*! Firefox */
html {
  scrollbar-color: #ffffff #25235a;
}

/*! Other Browser */
body::-webkit-scrollbar {
  width: 11px;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #25235a #ffffff;
}

body::-webkit-scrollbar-track {
  background: #ffffff;
}

body::-webkit-scrollbar-thumb {
  background-color: #25235a;
  border-radius: 6px;
  border: 3px solid #ffffff;
}

body.hide-scrollbar::-webkit-scrollbar {
  width: 0.1em;
}

body.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.header {
  background-color: #ffffff;
  width: 100vw;
  height: 100px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  min-width: 300px;
}
.header_container img {
  width: 206px;
  height: 46px;
  cursor: pointer;
}
.header_container .header_rightside {
  cursor: pointer;
  padding: 10px;
}
.header_container .header_rightside .hamburger-menu {
  margin-top: 5px;
}
.header_container .header_rightside .contact-menu {
  font-size: 18px;
  color: #666666;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
}
.header_container .header_rightside .contact-menu:hover {
  border-bottom: 1px solid #666666;
}
.header .menu_container_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.header .menu_container_overlay .menu_btn_close {
  color: #25235a;
  font-size: 50px;
  padding: 10px;
  position: fixed;
  top: 20px;
  right: 20px;
  transition: transform 0.3s ease-in-out;
}
.header .menu_container_overlay .menu_btn_close:hover {
  color: #ff6565;
  transition-duration: 0.5s;
  transform: rotateZ(180deg);
}
.header .menu_container_overlay .connect_circle {
  margin-top: 20vh;
}
.header .menu_container_overlay .connect_circle svg {
  z-index: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.header .menu_container_overlay .connect_circle p {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 30px;
  color: #ffffff;
  font-family: "Barlow", sans-serif;
  text-align: center;
  width: 200px;
  margin: auto;
  z-index: 10;
  cursor: pointer;
}
.header .menu_container_overlay .menu_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px;
  margin-bottom: 20vh;
}
.header .menu_container_overlay .menu_links li {
  padding: 5px;
}
.header .menu_container_overlay .menu_links li svg image {
  cursor: pointer;
  transition: 0.5s ease;
}
.header .menu_container_overlay .menu_links li svg image:hover {
  filter: invert(50%);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100vw;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.home .intro {
  align-items: flex-start;
  width: 100%;
}
.home .intro_statement {
  font-family: "Barlow", sans-serif;
  color: #ff6565;
  font-size: 50px;
  margin: 75px 0 90px 25px;
  max-width: 500px;
}
.home .intro_btn_contact {
  color: #25235a;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 0 60px 25px;
  width: 145px;
  transition: transform 0.3s ease;
}
.home .intro_btn_contact:hover {
  transform: translateX(10px);
}
.home .intro_img_container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 25px 0 25px;
}
.home .intro_img_container img:nth-child(1) {
  width: 60vw;
  max-width: 350px;
  height: auto;
  z-index: 0;
}
.home .intro_img_container img:nth-child(2) {
  width: 35vw;
  max-width: 200px;
  height: auto;
  z-index: 1;
  position: absolute;
  margin-top: 270px;
  margin-left: 60%;
}
.home .intro_img_container svg {
  width: 20vw;
  min-width: 100px;
  max-width: 200px;
  height: auto;
  z-index: 2;
  position: absolute;
  margin-top: 170px;
  margin-left: 53%;
}
.home .what-we-do {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 350px;
  width: 100%;
}
.home .what-we-do_title {
  color: #ff6565;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  width: 235px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ff6565;
}
.home .what-we-do_articles {
  margin: 0 25px;
}
.home .what-we-do_articles h3 {
  color: #25235a;
  font-size: 22px;
  font-weight: 600;
  margin: 50px 0 30px 0;
}
.home .what-we-do_articles p {
  color: #666666;
  font-size: 16px;
  margin-bottom: 30px;
  max-width: 450px;
}
.home .what-we-do_articles img {
  width: 80%;
  max-width: 400px;
}
.home .partners {
  text-align: center;
  margin-top: 40px;
  width: 100vw;
  background-color: #f8f8f8;
}
.home .partners_title {
  color: #ff6565;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  width: 235px;
  margin: auto;
  padding: 30px 0 5px 0;
  border-bottom: 1px solid #ff6565;
}
.home .partners .swiper {
  width: 100vw;
  height: 350px;
}
.home .partners .swiper-slide img,
.home .partners .swiper svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.home .partners .swiper .swiper-pagination-bullet-active {
  background-color: #25235a; /* Set the color for the active bullet */
}
.home .connect {
  margin: 200px 0 100px 0;
}
.home .connect_circle {
  position: relative;
}
.home .connect_circle svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
}
.home .connect_circle p {
  position: relative;
  font-size: 30px;
  color: #ffffff;
  font-family: "Barlow", sans-serif;
  text-align: center;
  cursor: pointer;
  width: 200px;
  margin: auto;
  z-index: 10;
}
.home .connect_emailSub {
  margin: 200px 20px 100px 20px;
}
.home .connect_emailSub p {
  font-size: 30px;
  color: #25235a;
  font-family: "Barlow", sans-serif;
  text-align: center;
  min-width: 250px;
  margin: auto;
  padding-bottom: 60px;
}
.home .connect_emailSub .email_input {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.home .connect_emailSub .email_input input {
  max-width: 300px;
  padding-bottom: 5px;
}
.home .connect_emailSub .email_input input:focus {
  outline: none;
  caret-color: #ff6565;
}
.home .connect_emailSub .email_input #mc-embedded-subscribe {
  color: #25235a;
  background-color: transparent;
  border: 1px solid #25235a;
  padding: 5px 17px;
  margin-left: 5px;
  font-size: 16px;
  cursor: pointer;
}
.home .connect_emailSub .email_input #mc-embedded-subscribe:hover {
  color: #ffffff;
  background-color: #25235a;
  transition: 0.3s ease;
}

.contactUs {
  display: flex;
  justify-content: center;
}
.contactUs_formSub {
  margin: 100px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.contactUs_formSub p {
  font-size: 30px;
  color: #ff6565;
  font-family: "Barlow", sans-serif;
  text-align: center;
  max-width: 500px;
  margin: auto;
  padding-bottom: 60px;
}
.contactUs_formSub .form_input_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
}
.contactUs_formSub .form_input_container li {
  margin-bottom: 30px;
}
.contactUs_formSub .form_input_container input {
  width: 300px;
  border: none;
  border-bottom: 1px solid #25235a;
  padding-left: 10px;
  padding-bottom: 10px;
}
.contactUs_formSub .form_input_container input:focus {
  outline: none;
  caret-color: #ff6565;
}
.contactUs_formSub .form_input_container textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #25235a;
  background-color: #ffffff;
  resize: vertical;
  font-size: 16px;
}
.contactUs_formSub .form_input_container textarea:focus {
  outline: none;
  caret-color: #ff6565;
}
.contactUs_formSub .form_input_container button {
  width: 180px;
  padding: 15px 20px;
  font-size: 22px;
  border: 1px solid #25235a;
  margin-top: 50px;
}
.contactUs_formSub .form_input_container button:hover {
  color: #ffffff;
  background-color: #25235a;
  transition: 0.5s ease;
}

.footer {
  background-color: #25235a;
  color: #ffffff;
  font-size: 16px;
  width: 100vw;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer_email p {
  line-height: 26px;
}
.footer_email p a {
  text-decoration: underline;
  color: inherit;
}
.footer_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px;
}
.footer_links li {
  padding: 5px;
  margin: 10px;
}
.footer_links li svg image {
  filter: invert(100%);
  cursor: pointer;
  transition: 0.5s ease;
}
.footer_links li svg image:hover {
  filter: invert(50%);
}
.footer_rights p {
  text-align: center;
  line-height: 26px;
  min-width: 200px;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .home {
    margin-left: 25px;
  }
  .home .intro_statement {
    font-size: 50px;
    margin: 140px 0 90px 0;
    max-width: 800px;
  }
  .home .intro_btn_contact {
    font-size: 16px;
    padding-top: 10px;
    width: 130px;
    margin-left: 0;
  }
  .home .intro_img_container {
    margin: 0;
  }
  .home .intro_img_container img:nth-child(1) {
    width: 60%;
    max-width: 500px;
  }
  .home .intro_img_container img:nth-child(2) {
    max-width: 300px;
    margin-top: 470px;
    margin-left: 70%;
  }
  .home .intro_img_container svg {
    max-width: 330px;
    margin-top: 370px;
    margin-left: 53%;
  }
  .home .what-we-do {
    margin-top: 550px;
  }
  .home .what-we-do_title {
    margin-bottom: 100px;
    font-size: 28px;
  }
  .home .what-we-do_articles article {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 90vw;
    height: 450px;
  }
  .home .what-we-do_articles article:nth-child(1),
  .home .what-we-do_articles article:nth-child(3) {
    text-align: left;
    padding-right: 48vw;
  }
  .home .what-we-do_articles article:nth-child(1) img,
  .home .what-we-do_articles article:nth-child(3) img {
    width: 45vw;
    margin-left: 45vw;
    position: absolute;
  }
  .home .what-we-do_articles article:nth-child(2),
  .home .what-we-do_articles article:nth-child(4) {
    text-align: right;
    padding-left: 400px;
  }
  .home .what-we-do_articles article:nth-child(2) img,
  .home .what-we-do_articles article:nth-child(4) img {
    width: 45vw;
    margin-left: -48vw;
    position: absolute;
  }
  .home .what-we-do_articles h3 {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
  }
  .home .what-we-do_articles p {
    color: #666666;
    font-size: 16px;
    margin-top: 30px;
  }
  .home .partners_title {
    font-size: 28px;
    width: 500px;
    padding: 50px 0 20px 0;
  }
  .home .partners .swiper {
    height: 450px;
  }
  .home .connect_circle svg {
    width: 200px;
    height: 200px;
    left: 12%;
  }
  .home .connect_circle p {
    font-size: 50px;
    color: #ff6565;
    width: auto;
    margin-left: 30px;
  }
  .home .connect_circle p span {
    color: #ffffff;
  }
  .home .connect_emailSub p {
    font-size: 50px;
    width: auto;
    margin: auto;
    padding-bottom: 100px;
  }
  .home .connect_emailSub .email_input input {
    min-width: 400px;
    padding-bottom: 10px;
  }
  .home .connect_emailSub .email_input #mc-embedded-subscribe {
    padding: 10px 30px;
    margin-left: 10px;
    font-size: 16px;
  }
  .contactUs_formSub p {
    font-size: 50px;
    max-width: 700px;
    padding-bottom: 130px;
  }
  .contactUs_formSub .form_input_container input {
    width: 500px;
    font-size: 16px;
  }
  .contactUs_formSub textarea {
    width: 500px;
    height: 150px;
    padding: 10px;
    border: 1px solid #25235a;
    background-color: #ffffff;
    resize: vertical;
    font-size: 16px;
  }
  .contactUs_formSub textarea:focus {
    outline: none;
    caret-color: #ff6565;
  }
  .contactUs_formSub button {
    width: 200px;
    padding: 15px 20px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .header_container {
    max-width: 1024px;
  }
  main {
    max-width: 1024px;
  }
  .home .intro_statement {
    font-size: 70px;
    margin: 140px 0 90px 0;
    max-width: 800px;
  }
  .home .intro_btn_contact {
    font-size: 18px;
    border: 1px solid #25235a;
    border-radius: 10px;
    padding: 10px 25px;
    width: 200px;
    margin-left: 0;
  }
  .home .intro_img_container {
    margin: 0;
  }
  .home .intro_img_container img:nth-child(1) {
    width: 50%;
    max-width: 800px;
  }
  .home .intro_img_container img:nth-child(2) {
    max-width: 300px;
    margin-top: 480px;
    margin-left: 70%;
  }
  .home .intro_img_container svg {
    max-width: 310px;
    margin-top: 260px;
    margin-left: 48%;
  }
  .home .what-we-do {
    margin-top: 550px;
  }
  .home .what-we-do_title {
    margin-bottom: 100px;
    font-size: 32px;
  }
  .home .what-we-do_articles article {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 1024px;
    height: 500px;
  }
  .home .what-we-do_articles article:nth-child(1),
  .home .what-we-do_articles article:nth-child(3) {
    text-align: left;
    padding-right: 50%;
  }
  .home .what-we-do_articles article:nth-child(1) img,
  .home .what-we-do_articles article:nth-child(3) img {
    width: 45%;
    margin-left: 60%;
    position: absolute;
  }
  .home .what-we-do_articles article:nth-child(2),
  .home .what-we-do_articles article:nth-child(4) {
    text-align: right;
    padding-left: 50%;
  }
  .home .what-we-do_articles article:nth-child(2) img,
  .home .what-we-do_articles article:nth-child(4) img {
    width: 45%;
    margin-left: -50%;
    position: absolute;
  }
  .home .what-we-do_articles h3 {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
  }
  .home .what-we-do_articles p {
    color: #666666;
    font-size: 18px;
    margin-top: 30px;
    max-width: 100%;
  }
  .home .partners_title {
    font-size: 32px;
    width: 500px;
    padding: 50px 0 20px 0;
  }
  .home .partners .swiper {
    height: 450px;
  }
  .home .connect_circle svg {
    width: 200px;
    height: 200px;
    left: 5%;
  }
  .home .connect_circle p {
    font-size: 70px;
    color: #ff6565;
    width: auto;
    margin-left: 30px;
  }
  .home .connect_circle p span {
    color: #ffffff;
  }
  .home .connect_emailSub p {
    font-size: 50px;
    width: auto;
    margin: auto;
    padding-bottom: 100px;
  }
  .home .connect_emailSub .email_input input {
    min-width: 400px;
    padding-bottom: 10px;
  }
  .home .connect_emailSub .email_input #mc-embedded-subscribe {
    padding: 10px 30px;
    margin-left: 10px;
    font-size: 18px;
  }
  .contactUs_formSub p {
    font-size: 50px;
    max-width: 700px;
    padding-bottom: 130px;
  }
  .contactUs_formSub .form_input_container input {
    width: 500px;
    font-size: 18px;
  }
  .contactUs button {
    width: 200px;
    padding: 15px 20px;
    font-size: 18px;
  }
}
.animate.fadeIn-ascend {
  animation: fadeIn-ascend 2s forwards;
}

.animate.fadeIn-ascend-s1 {
  animation: fadeIn-ascend-s1 1.5s forwards;
}

.animate.fadeIn-ascend-s2 {
  animation: fadeIn-ascend-s2 2s ease-in-out;
}

.animate.fadeIn-descend {
  animation: fadeIn-descend 1.5s forwards;
}

.animate.fadeIn-appearFromLeft {
  animation: fadeIn-appearFromLeft 1s forwards;
}

.animate.fadeIn-appearFromRight {
  animation: fadeIn-appearFromRight 1s forwards;
}

@keyframes fadeIn-ascend {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-ascend-s1 {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-ascend-s2 {
  0% {
    transform: translateY(200px);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeIn-descend {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-appearFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeIn-appearFromRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  color: #666666;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}
#scrollToTopBtn img {
  width: 50px;
  height: 50px;
}

#scrollToTopBtn.show {
  opacity: 0.7;
}

/*# sourceMappingURL=style.css.map */
