<div class="menu_container_overlay">
    <button class="menu_btn_close menu-toggle">&times;</button>

    <ul class="menu_list">
        <!-- menu list component comes here-->

        <!-- <li class="menu_li">home</li>
        <li class="menu_li">news</li>
        <li class="menu_li">contact</li> -->
    </ul>
    <ul class="menu_externalLinks">
        <!-- external links component comes here -->

        <!-- <li class="links">
            <i class="fa-brands fa-facebook"></i>
        </li>
        <li class="links">
            <i class="fa-brands fa-instagram"></i>
        </li>
        <li class="links">
            <i class="fa-brands fa-linkedin"></i>
        </li> -->
    </ul>
</div>
